* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  transition: background-color 0.2s;
}

header,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid fuchsia;
}

section {
  font-size: 10vw;
  color: greenyellow;
  text-transform: uppercase;
}

.top {
  height: 100vh;
  position: relative;
}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: white;
  transition: background-color 0.2s;
  margin-top: 150px;
  margin-bottom: 160px;
}

.black {
  background-color: black;
  transition: background-color 0.2s;
}

.photo {
  height: 100vh;
  width: 500px;
  position: absolute;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(50% - 250px);
}

.photo-1 {
  background: url(https://k72.ca/uploads/teamMembers/Simon-640x960.jpg)
    no-repeat;
}

.photo-2 {
  background: url(https://k72.ca/uploads/teamMembers/IsaB-640x960.jpg) no-repeat;
}

.photo-wrapper-2 {
  top: 110vh;
  position: relative;
}
.photo-wrapper-1 {
  position: relative;
}

.description-1 {
  position: absolute;
  width: 100vw;
}

/* Второе фото */

.description-2 {
  position: absolute;
  width: 100vw;
}

.front {
  left: -100vw;
  top: 20vh;
}

.back {
  right: -100vw;
  top: 40vh;
}
