* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  transition: background-color 0.2s;
}

header,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(44, 131, 80, 0.5); */
  border: 1px solid fuchsia;
}

.top {
  height: 100vh;
  position: relative;
}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: white;
  transition: background-color 0.2s;
  margin-top: 150px;
  margin-bottom: 160px;
  /* padding: 200px 0; */
}

.black {
  background-color: black; /* TODO: BLACK */
  transition: background-color 0.2s;
}

.photo {
  height: 100vh;
  width: 500px;
  position: absolute;
  /* background-color: rgba(19, 136, 238, 0.5); */
  /* background-color: blue; */
  border-radius: 8px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(50% - 250px);
}

.photo-1 {
  background: url(https://k72.ca/uploads/teamMembers/Simon-640x960.jpg)
    no-repeat;
}

.photo-2 {
  /* top: 100vh; */
  background: url(https://k72.ca/uploads/teamMembers/IsaB-640x960.jpg) no-repeat;
}

.photo-wrapper-2 {
  top: 110vh;
  position: relative;
}
.photo-wrapper-1 {
  position: relative;
}

.lines-1 {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* position: relative; */
}

.description-1 {
  /* position: absolute; */
  font-size: 60px;
  color: purple;
}

/* Второе фото */

.lines {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* position: relative; */
}

.description {
  /* position: absolute; */
  font-size: 50px;
  color: red;
}

.front {
  /* left: -100vw; */
  /* top: 20vh; */
  /* height: 20vh; */
  /* z-index: 3; */
}

.back {
  /* right: -100vw; */
  /* top: 40vh; */
  /* height: 20vh; */
  /* z-index: 1; */
}
